  <br/><br/>
  <div class="row"><!--Search bar-->

    <div class="col-md-9 col-md-offset-1">
      <div class="well bs-component">
         <%= form_tag({:action => "index"},{:class => "form-horizontal"} ) do %>
        <div class="form-group">
          <div class="col-lg-10">
        <%= text_field_tag(:q,nil,class: "form-control") %>
            </div>
        <%= submit_tag("Search",class: "col-2 control-label") %>
          </div>
      <%end%>
           </div>
     </div>
  </div><!-- Row ending -->
  <div class = "row">
    <div class="col-md-9 col-md-offset-1">
      
      <h4><span class="label label-info"><b>Search Results :</b></span></h4>
</div>
    </div>

  <div class = "row">
    <div class="col-md-9 col-md-offset-1">
    <%if @results%>
      <%if @results.count> 0%>
    <div class="panel-group" id="accordion">
      <%@results.each_with_index do |x,index| %>
         <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <div class = "row" >
                    <div class="col-md-5">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%=index%>"> <%= x["original_filename"]%> </a>
                    </div>
                    <div class="col-md-3"> <%= x["object_name"]%>
                    </div>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-primary btn-xs">Download</button>
                    </div>
                 </div> 
              </h4>
          </div><!--Pannel title-->
           
          <div id="collapse_<%=index%>" class="panel-collapse collapse in">
                <div class="panel-body">
                  <%x.each do |key,value|%>
                    <div class="row" >
                      <div class="col-md-4">
                      <b><%= key %></b> 
                      </div>
                      <div class= "col-md-1">
                        :
                        </div>
                      <div class="col-md-6" >
                        <%= value %>
                      </div>
                    </div><!-- results tow-->
                  <%end%><!-- end for kvi table -->
                </div><!---pannel body-->
            </div>
           <%end%>
           <%else%> <!-- count is greater than zero--->
           <h4> Sorry, No result's to display! Please modify keyword and search! </h4>
           <%end%>           
    <%else%>
        
    <%end%>
  </div>
      </div>