<% if flash[:id_notice] %>
<div class="notice"><%= flash[:id_notice] %></div>
  <% end %>
<h6>Welcome to upload wizard!</h6>
<%= form_tag({action: :upload}, multipart: true) do %>
  TAG1:<%= text_field_tag 'tag1'%><br/>
   TAG2 <%= text_field_tag "tag2"%><br/>
    TAG3<%= text_field_tag "tag3"%><br/>
    TAG4<%= text_field_tag "tag4"%><br/>
  
  <%= file_field_tag "doc"%>
    <%= submit_tag%>
<% end %>


<%= @containers%>