<h6>Welcome to Openstack- swift storage dashboard!!!!!</h6>
<% if flash[:id_notice] %>
<div class= "row">
  <div class="col-md-6 col-md-offset-2 ">
    <div class="alert alert-dismissable alert-info"><%= flash[:id_notice] %>
      <button type="button" class="close" data-dismiss="alert">×</button>
    </div>
   </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <a href="/create_token" class="btn btn-success btn-small btn-block">Create a test token</a>
  </div>
  <div class="col-md-5 ">
    <a href="/search" class="btn btn-success btn-small btn-block">Go to Search</a>
  </div>
</div>
<br/><br/>


<% if @containers.count >0 %>

<div class="row">
  <div class="col-md-6 ">
<% if @containers.count.to_i>0 %>
  <%@containers.each do |x|%>

   <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><%=x%></h3>
        </div>  
        <div class="panel-body">
          <% @objects[x].each do |obj|%>
          <a href="/list_objects/<%=x%>/<%=obj.key%>" download><%= obj.key%></a>
          <br>
          <%end%>
          
          
          <a href="#create_obj_modal" data-toggle="modal" data-target="#myModal" class="create_obj" data-container=<%=x%>>upload object</a>
        </div><!--Pannel body-->
    </div><!--Pannel-->
  
<%end%> 
<%else%>
<%end%>
</div>
   <div class="col-md-5"> 
  
   <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>  
        <div class="panel-body">
          <%= form_tag ("/create_container"), :class => "form-horizontal" do%>
           <fieldset >
            <legend>Create a container</legend>
            <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name:</label>
                    <div class="col-lg-10">
                      <%= text_field_tag "container_name",nil,class: "form-control",placeholder: "containername" %>
                    </div>
             </div>
             <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">create</button>
                </div>
    </fieldset>
          <%end%>
          
         
        </div><!--Pannel body-->
    </div><!--Pannel-->
  </div>
  
  


 
</div><!---ROW END-->
<%end%><!---UNLESS END--->


<!--OBJECT MODAL STARTS HERE!--->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_tag ("/create_object"), :class => "form-horizontal", multipart: true do%>
           <fieldset >
            <legend>Create a Object<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></legend>
            <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name:</label>
                    <div class="col-lg-10">
                      <%= text_field_tag "object_name",nil,class: "form-control",placeholder: "Object Name" %>
                    </div>
             </div>
             <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Meta :</label>
                    <div class="col-lg-5">
                      <%= text_field_tag "meta[name_0]",nil,class: "form-control",placeholder: "Meta Name" %>
                    </div>
                   <div class="col-lg-5">
                     <%= text_field_tag "meta[value_0]",nil,class: "form-control",placeholder: "Meta value" %>
                    </div>
             </div>
               <div id="add_obj_meta">
               </div>
             
             <div class="form-group">
             <label for="name" class="col-lg-2 control-label">File :</label>
                <div class="col-lg-10">
                  <%= file_field_tag "drum[obj]" %>
                    </div>
               </div>
             <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-success btn-sm">create</button>
                 <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary btn-sm" id="add_obj_meta_btn" >Add Meta data</button>
                </div>
    </fieldset>
          <%end%>
      </div>
    </div>
  </div>
</div>

<!--END OF OBJECT MODAL END HERE!--->